.item-about-us .mega-menu,.item-about-us #subMenu,.item-insights #subMenu{display:none}#header[data-v-c8bd4f03]{top:0;transition:all .4s ease-in-out}#header.scrolling-down[data-v-c8bd4f03]{top:-200px}
