.newsletter-signup-form .error[data-v-b2a11c71]{font-size:12px;text-transform:none}h4[data-v-b2a11c71]{color:#fff;margin-top:3vw;text-transform:uppercase}.submit-btn[data-v-b2a11c71]{margin:0!important}
